{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>Portofolio</h1>
	<head>
        <style>
            .round {
                border-radius: 50%;
                overflow: hidden;
                width: 150px;
                height: 150px;
            }
            .round img {
                display: block;
                width: 150px;
            }
        </style>
    </head>
    <body>
        <div class="round">
            <img src="http://103.10.59.227/sman2tangsel/shashin_resmi_gakusei/131410058.jpg" />
        </div>
		<p>
		M.Davin R. || 1606895190
		</p>
    </body>
<hr/>
<section name="bio">
	<h2>Bio</h2>
	<p>
		{{content}}
	</p>    
</section>
<hr/>
<section name="about_me">
	<h2>List</h2>
	<ul>
		{% for ii in about_me %}
		<li> {{ ii }} </li>
		{% endfor %}
	</ul>
</section>
<hr/>

<section name="form">
	<h2>Send Message</h2>
	<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
		{% csrf_token %}
		{{ message_form }}
		<br>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</section>
{% endblock %}