<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #428bca">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="" style="color: white;">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" style="right: 0px; position: absolute;">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li>
            <a href="{% url 'lab-9:cookie_clear' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')" style="margin-right: 50px; color: white; height: 50px;">
              Logout 
            </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>